.downloader {
  width: 100%;
  min-height: 128px;
  float :right;
  right: 18px;
  bottom: 18px;
  max-height: 700px;
  overflow-y: auto;
}
.downloader .card-header {
  color: #fff;
  background-color: rgb(93 11 11 / 92%);
}
.downloader .card .list-group {
  max-height: 640px;
  overflow: hidden;
  overflow-y: auto;
}

.bg-success{
  background-color: #2276ac !important;
}

.text-success {
  color: #2276ac !important;
}
.iconColorBlue{
  color: #2276AC;
}
.iconColorRed{
  color: red;
}
.marginAdd{
  padding-left:3px;

  padding-right:3px;
}